/* start main properties */
* {padding: 0; margin: 0}

.container {width: 90%; margin: auto}
/* end main properties */

/* start header */
header .topbar {background-color: #2c2d30; color: white}

header .topbar .container {overflow: hidden}

header .topbar .container div {float: left; line-height: 53px}

header .topbar .container div span:first-of-type {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px
}

header .topbar .container div span:last-of-type {color: #919399}

header .topbar .container ul {float: right; list-style-type: none}

header .topbar .container ul li {
    display: inline-block;
    border-right: 1px solid #919399;
    border-left: 1px solid #919399
}

header .topbar .container ul li:first-of-type {border-left: 2px solid #919399}

header .topbar .container ul li:last-of-type {border-right: 2px solid #919399}

header .topbar .container ul li a 
{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    line-height: 58px;
    color: white;
    text-decoration: none
}

header .topbar .container ul li a:hover {background-color: black}

header .slider 
{
    text-align: center;
    padding: 50px 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position-y: 33%;
    color: white
}

header .slider h1 {text-transform: capitalize}

header .slider p {margin-bottom: 40px; color: #bebebe}

header .slider button 
{
    display: inline-block;
    margin-bottom: 21.440px;
    padding: 7px 25px;
    text-transform: capitalize;
    border-style: none;
    border-radius: 3px
}

header .slider button:first-of-type {background-color: rgb(138, 193, 12)}

header .slider button:last-of-type {background-color: rgb(51, 144, 216)}
/* end header */

/* start content */
article {padding: 50px 5%}
/* start first section properties */
article > section:first-of-type {display: flex;  justify-content: space-between}

article > section:first-of-type img {width: 100%}

article > section:first-of-type > section 
{
    box-sizing: border-box;
    flex-basis: 31%;
    border: 3px inset #c2b9b9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 8px 0px #7b7c7e
}

article > section:first-of-type > section > figure {
    margin: 0 0 5px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden
}

article > section:first-of-type > section div {
    overflow: hidden;
    padding-top: 4px;
    background-color: #dddddd;
    border-radius: 0 0 5px 5px
}

article > section:first-of-type > section div figure {
    margin: 0 5px 0 0;
    float: left;
    width: 50px;

}

article > section:first-of-type > section div h4,
article > section:first-of-type > section div h5 {
    width: 60%;
    float: left;
    text-transform: capitalize
}

article > section:first-of-type > section div h5 {color: #6b6b6b}
/* start first section properties */

/* start second section properties */
article > section:last-of-type 
{
    padding: 30px 0;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000
}

article > section:last-of-type section 
{
    box-sizing: border-box;
    flex-basis: 31%;
    overflow: hidden;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 5px;
    border: 2px outset #c2b9b9
}

article > section:last-of-type section figure 
{
    margin: 0px 5px 0 0;
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
    border-radius: 50px;
    border: 2px solid #ffffff
}

article > section:last-of-type section figure img {width: 100%}

article > section:last-of-type section div {float: left; width: 70%}

article > section:last-of-type section div h5 {
    margin-bottom: 5px;
    color: #6b6b6b; 
    text-transform: capitalize
}

article > section:last-of-type section div p {text-transform: capitalize}
/* end second section properties */

/* start aside */
aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between 
}

aside a {
    padding: 5px 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px
}

aside a:first-of-type {color: #7c7a7a}

aside a:nth-of-type(2) {
    font-family: 'Old English Text MT', sans-serif;
    font-weight: bold;
    color: #aaaaaa
}

aside a:nth-of-type(3) {
    font-family: 'Matura MT Script Capitals', sans-serif;
    font-weight: bolder;
    color: #4e4e61
}

aside a:nth-of-type(4) {text-transform: uppercase; color: #aaaaaa}

aside a:last-of-type {
    font-family: Verdana, sans-serif;
    font-weight: 800;
    color: #777575
}

aside a:hover {color: black}
/* end aside */
/* end content */

/* start footer */
/* start section */
footer {
    background-color: #000000;
    color: white;
    padding-top: 50px
}

footer > .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}

footer > .container ul {list-style-type: none; margin-bottom: 10px}

footer > .container ul li {margin-bottom: 5px}

footer > .container ul li:last-of-type {margin-bottom: 0}

footer > .container ul li h3 {padding-bottom: 2px; text-transform: uppercase}

footer > .container ul li a {
    color: #979797; 
    text-decoration: none;
    text-transform: capitalize
}

footer > .container ul li a:hover {color: #ffffff; text-decoration: underline}
/* end section */

/* start div */
footer div {padding: 10px 0; background-color: #aaaaaa}

footer div .container {overflow: hidden}

footer div .container span:first-of-type {float: left}

footer div .container span:first-of-type a {color: black; margin-right: 15px}

footer div .container span:first-of-type a:hover {color: #0000ff}

footer div .container span:last-of-type {
    float: right;
    line-height: 32px;
    text-transform: capitalize
}
/* end div */
/* end footer */
